{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block header %}Технологии{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
      <div class="row">
          <div class="col-md-9">
              <div class="card-body">                    
                  <div class="card-text">
                      <p>При разработке этого проекта использовались: python 3, django, sqlite3, git</p>
                  </div>                    
              </div>                
          </div>            
      </div>        
  </main>
{% endblock %}