{% extends "base.html" %}
{% load thumbnail %}
{% block title %} {{ author.get_full_name }} {% endblock %}
{% block header %} {% endblock %}
{% block content %}
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="h2">
                            {{ author.get_full_name }}
                        </div>
                        <div class="h3 text-muted">
                            @{{ author.username }}
                        </div>
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                            Подписчиков: {{ following_count }} <br />
                            Подписан: {{ follower_count }}
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                Записей: {{ paginator.count }}
                            </div>
                        </li>
                        {% if user.is_authenticated and user.username != author.username %}
                        <li class="list-group-item">
                            {% if following %}
                            <a class="btn btn-lg btn-light" 
                                    href="{% url 'profile_unfollow' author.username %}" role="button"> 
                                    Отписаться 
                            </a> 
                            {% else %}
                            <a class="btn btn-lg btn-primary" 
                                    href="{% url 'profile_follow' author.username %}" role="button">
                                    Подписаться 
                            </a>
                            {% endif %}
                        </li> 
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="col-md-9">                
                {% for post in page %}
                    {% include "post_item.html" with post=post %}   
                {% endfor %}

                {% include "paginator.html" with items=page paginator=paginator %}
            </div>
    </div>
{% endblock %}