{% extends "base.html" %}
{% load thumbnail %}
{% block title %} {{ author.get_full_name }} {% endblock %}
{% block header %} {% endblock %}
{% block content %}
    <div class="row">
        {% include "profile_left_menu.html" %}
        <div class="col-md-9">                
            {% for post in page %}
                {% include "post_item.html" with post=post %}   
            {% endfor %}

            {% include "paginator.html" with items=page paginator=paginator %}
        </div>
    </div>
{% endblock %}